.parallaxWrapper {
    max-width: 800px;
    margin: 0 auto;
}

.parallax {
    overflow: hidden;
    letter-spacing: -2px;
    line-height: 0.8;
    margin: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
}

.parallax .scroller {
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
}

.parallax span {
    display: block;
    margin-right: 30px;
    font-family: NeueMachina;
    font-size: 55px;
}
