.lastNews ul {
    display: flex;
    gap: 50px;
}

.lastNews h3 {
    font-size: 26px;
}
.lastNews img {
    object-fit: cover;
    margin-bottom: 20px;
}

.lastNews p {
    font-size: 18px;
}

.lastNews ul li {
    width: 50%;
}

.parallaxWrapper {
    max-width: 800px;
    margin: 0 auto;
}